# Node modules
node_modules

# Created by https://www.toptal.com/developers/gitignore/api/react
# Edit at https://www.toptal.com/developers/gitignore?templates=react

### react ###
.DS_*
**/.DS_*
**/**/.DS_*
**/**/**/.DS_*

.vscode

*.log
logs
**/*.backup.*
**/*.back.*

# End of https://www.toptal.com/developers/gitignore/api/react
