.cmt-container {
    display: flex;
    justify-content: space-between;
    margin-top: 3vh
  }
  
  .cmts {
      max-width: 80vw;
      white-space: pre-wrap;
      word-wrap: break-word;
  }

  .btns {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }