.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal {
    position: fixed;
    bottom: 0px;
    background-color: white;
    padding: 1rem;
    width: 100%;
    height: 40vh;
    border-radius: 20px;
  }

.edit-btns-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.edit-btns-container > button{
  height: 3vh;
}
.edit-inputs-container{
    height: 100%;
    flex-direction: column;
    padding-bottom: 1rem;
}

.edit-inputs-container > *{
  width: 100%;
}
.edit-inputs-container > :nth-child(2){
  display: block;
  height: 80%;
}
