* {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttonBox {
  margin-top: 2rem;;
  display: flex;
  gap: 2rem;
}

.toDoList {
  width: 30rem;
  height: 3.625rem;
  flex-shrink: 0;
  border-radius: 10px;
  background: #F1F1F1;
  margin-top: 1.06rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.toDoList .select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 2.625rem;
  height: 2.625rem;
  flex-shrink: 0;
  border-radius: 10px;
  background: var(--5, #CECECE);
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.15) inset;
  margin-right: 1rem;
  cursor: pointer;
}

.toDoList .select:checked {
  border-radius: 10px;
  /* background: var(--1, linear-gradient(180deg, #FF9F9F 0%, #FFBFBF 100%)); */
  background: skyblue;
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.15) inset;
}

.toDoList .field {
  color: #434343;
  font-size: 1.875rem;
  font-family: Pretendard;
  font-weight: 200;
  background-color: transparent;
  border: none;
}

.toDoList .field {
  color: #434343;
  font-size: 1.875rem;
  font-family: Pretendard;
  font-weight: 200;
  background-color: transparent;
  border: none;
}

.toDoList .field:focus {
  outline: none;
}

.toDoList .minusButton {
  position: absolute;
  right: 0.44rem;
  width: 2.75rem;
  height: 2.75rem;
  flex-shrink: 0;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.app-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.app-header {
  text-align: center;
  margin-bottom: 20px;
}