.nav{
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}


.sec1 {
  width: 100vw;
  height: 45vh;
  position: relative;
  background: url(./assets/main.png) no-repeat 50% 50% / cover;
}

.sec2 {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

