.intro{
    padding: 10rem 18vw 10rem 18vw;
    background-color: #4A86FF;
    text-align: center;
    
}

.intro > div{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 6rem;
    font-style: normal;
    font-weight: 800;
    line-height: 150%;

}

@media (max-width: 1000px){
    .intro {
        max-height: 40vh;
        padding: 4rem 6vw 4rem 6vw;
    }

    .intro > div{
        color: #FFF;
        text-align: center;
        font-family: Inter;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 800;
        line-height: 150%;
    }
}